#root {
  width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: initial;
}

.main-container-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}