
.table-wrapper {
  width: 100%;
  height: 100%;
  max-height: 80vh;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: auto;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background: #fff;
}

.table thead th {
  font-weight: 600;
  color: #374151;
  background: #f3f4f6;
  text-align: left;
  padding: 10px 12px;
  font-size: inherit;
  line-height: normal;
  border-bottom: none;
  box-shadow: 0 1px 0 #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 3;
}

.table tbody td {
  color: #374151;
  padding: 10px 12px;
  font-size: inherit;
  line-height: normal;
  border-bottom: 1px solid #969797;
  font-weight:500;
}

.table tbody tr:first-child td {
  border-top: 0;
}


.table thead th:first-child {
  position: sticky;
  background: #f3f4f6;
  text-align: center;
  z-index: 4;
}
.table tbody td:first-child {
  position: sticky;
  background: rgb(225, 224, 224);
  text-align: center;
  z-index: 3;
}

.table thead th:last-child,
.table tbody td:last-child {
  padding-right: 14px;
}

.table thead th,
.table tbody td {
  width: calc(100% / 6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.table thead th:first-child,
.table tbody td:first-child {
  width: 70px;
  
}

.status {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #111827;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  display: inline-block;
}

.status--active .status-dot {
  background: #10b981;
}

.status--loading .status-dot {
  background: #f59e0b;
}
